WebServiceClient/src/wsdl/localhost_8080/Sarbjot_Test1_N01392504/InventoryServiceService.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.3 (RELEASE-2.4.3-ad3323c; 2019-01-21T17:46:06+0000) JAXWS-RI/2.3.2 JAXWS-API/2.3.2 JAXB-RI/2.3.2 JAXB-API/2.3.2 git-revision#unknown. --><xs:schema xmlns:tns="http://myservice.com/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://myservice.com/">

<xs:element name="GetAllItems" type="tns:GetAllItems"/>

<xs:element name="GetAllItemsResponse" type="tns:GetAllItemsResponse"/>

<xs:element name="InsertItem" type="tns:InsertItem"/>

<xs:element name="InsertItemResponse" type="tns:InsertItemResponse"/>

<xs:complexType name="GetAllItems">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="GetAllItemsResponse">
<xs:sequence>
<xs:element name="return" type="tns:items" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="items">
<xs:sequence>
<xs:element name="id" type="xs:int"/>
<xs:element name="name" type="xs:string" minOccurs="0"/>
<xs:element name="price" type="xs:double"/>
<xs:element name="quantity" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="InsertItem">
<xs:sequence>
<xs:element name="arg0" type="xs:string" minOccurs="0"/>
<xs:element name="arg1" type="xs:double"/>
<xs:element name="arg2" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="InsertItemResponse">
<xs:sequence>
<xs:element name="return" type="xs:int"/>
</xs:sequence>
</xs:complexType>
</xs:schema>